<launch>
    <node name="marker_tracker" pkg="marker_tracker" type="marker_tracker" output="screen">
        <remap from="image_left" to="/stereo/left/image_raw"/>
        <remap from="image_right" to="/stereo/right/image_raw"/>

        <remap from="camera_info_left" to="/stereo/left/camera_info"/>
        <remap from="camera_info_right" to="/stereo/right/camera_info"/>
 
    </node>
</launch>
